<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>QR Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="startScan()">
    <ion-icon slot="start" name="qr-scanner"></ion-icon>
    SCANEAR QR
  </ion-button>

  <ion-button expand="full" (click)="reset()" color="warning" *ngIf="scanResult">
    <ion-icon slot="start" name="refresh"></ion-icon>
    REINTENTAR
  </ion-button>

  <video #video [hidden]="!scanActive" width="80%"> </video>
  <canvas #canvas hidden></canvas>

  <ion-button expand="full" (click)="stopScan()" color="dangerg" *ngIf="scanActive">
    <ion-icon slot="start" name="close"></ion-icon>
    CANCELAR
  </ion-button>
  
  <ion-card *ngIf="scanResult">
    <ion-card-header>
      <ion-card-title>Resultado: </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ scanResult }}
    </ion-card-content>
  </ion-card>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button> Cerrar sesion </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

