<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Taller</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-item>
      <img src="assets/img/adobe_express.png" style="height: 100%; width: 100%;" class="circle-pic">
    </ion-item>
    <ion-item>
      
    </ion-item>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button> Cerrar sesion </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

